@import './scripts/variables/variables';

$checkboxSize: 20px;
$hoverBorderColor: rgba(0, 0, 0, .5);
$checkboxBorderColor: rgba(0, 0, 0, .2);

.checkbox-container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  padding-left: 50px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
  }

  // sass-lint:disable-block  force-element-nesting
  &:hover input ~ .checkmark {
    border: 1px solid $hoverBorderColor;
    background-color: $lightGrey;


    &::after {
      display: block;
      opacity: .3;
    }
  }

  input:checked ~ .checkmark {
    &::after {
      display: block;
      opacity: 1;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    border: 1px solid $checkboxBorderColor;
    width: $checkboxSize;
    height: $checkboxSize;

    &::after {
      display: none;
      position: absolute;
      top: -8px;
      left: 9px;
      transform: rotate(45deg);
      border: 1px solid $black;
      border-width: 0 3px 3px 0;
      width: 5px;
      height: 25px;
      content: '';
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}
