@import './scripts/variables/variables';

$defaultTransition: .2s;
$scrollWidth: 6px;
$scrollTrackBorderRadius: 2.5px;
$scrollThumbBorderRadius: 10px;
$scrollBackGround: rgba(9, 9, 9, .1);
$scrollBackGroundHover: rgba(0, 0, 0, .2);

body {
  transition: all .2s;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

  input,
  textarea,
  select {
    display: block;
    border: 1px solid $grey;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px $inputBoxShadow;
    background-color: $white;
    background-image: none;
    padding: 6px 12px;
    line-height: 1.4;
    color: $dark;
    font-size: 14px;
    box-sizing: border-box;

    &.validation-error {
      border-color: $red;
    }
  }

  .button {
    display: inline-block;
    margin-bottom: 0;
    border: 1px solid $borderColor;
    border-radius: 4px;
    background-color: $white;
    background-image: none;
    cursor: pointer;
    padding: 6px 12px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;

    &:hover {
      border: 1px solid $actoveBorderColor;
      background-color: $hoverButtonBackgroundColor;
    }

    &:active {
      background-color: $actoveBorderColor;
    }
  }
}


// ScrollBar styles
/* width */
::-webkit-scrollbar {
  width: $scrollWidth;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: $scrollTrackBorderRadius;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: $scrollThumbBorderRadius;
  background: $scrollBackGround;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: $scrollBackGroundHover;
}
