@import './scripts/constants/constants';
@import './scripts/mixins/flexbox';
@import './scripts/mixins/borders';

.main-page {
	@include layout-type(column, nowrap);	

	align-items: center;

	.filters {
		@include layout-type(row, wrap);	

		align-items: center;
		justify-content: space-between;
		    width: 100%;
    		max-width: 370px;

    		.task-types {
    			
    		}

    		.tasks-count {
    			    display: block;
                    margin-top: 5px;
                    text-align: center;
                    font-size: 11px;
    		}
	}

    .search {
        width: 100%;
        max-width: 370px;
    }
}
