// Colours
$white:  #FFFFFF;
$grey: #CCCCCC;
$lightGrey:  #EEEEEE;
$dark: #555555;
$red: #FF0024;
$black: #000000;
$green: #008000;
$greenLigth: #28A745;

// RGBa
$inputBoxShadow: rgba(0, 0, 0, .07);
$borderColor: rgba(9, 9, 9, .2);
$actoveBorderColor: rgba(9, 9, 9, .3);
$hoverButtonBackgroundColor: rgba(9, 9, 9, .1);


